{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
<div class="mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> Oops!</h1>
        <p class="lead">
          No address registered for this User.
        </p>
        <hr class="my-4">
        <p>
          Click on Add button to Add new address...
        </p>
        <p class="lead">
          <form action="/address_form/{{product_id}}">
            <button type="submit" >Add Address</button>
          </form>
        </p>
    </div>
</div>
{% endblock content %}